= simple_form_for @message, :url => url_for(:action => 'create', :controller => 'messages'), :method => 'post' do |m|
  = m.input :recipients, :collection => User.where.not(id: current_user.id), :label_method => :email, :value_method => :id, :label => "To: " , :include_blank => false
  = m.input :subject
  = m.input :body , :as => 'text', :input_html => {:rows => 10, :cols => 40 }
  = m.button :submit, "Send Message", :class => 'btn btn-primary pull-left'