.row.clearfix.fields.text-center
  .col-md-2{ :style => "overflow:hidden" }= f.collection_select :exercise_id, Exercise.all, :id, :title
  .col-md-3{ :style => "overflow:hidden" }= f.input :notes, label: false, :input_html => {:maxlength => 255, :size => 50, :style => "width:100%;height:75px"}
  .col-md-1{ :style => "overflow:hidden" }= f.input :reps, label: false, :input_html => {:maxlength => 3, :size => 3, :style => "width:45px"}
  .col-md-1{ :style => "overflow:hidden" }= f.input :sets, label: false, :input_html => {:maxlength => 3, :size => 3, :style => "width:45px"}
  .col-md-1{ :style => "overflow:hidden" }= f.input :weight, label: false, :input_html => {:maxlength => 3, :size => 3, :style => "width:45px"}
  .col-md-2= f.input :duration, label: false, :input_html => {:maxlength => 3, :size => 3, :style => "width:75px"}
  .col-md-2= activity_fields_removal_link(f)