%h2 Editing workout
%hr{:style => "border:3px solid black"}/
= simple_form_for(@workout, html: {class: 'form-inline edit_workout' }) do |f|
  = f.error_notification
  .form-horizontal
    = f.input :title
    = f.input :description
  %h4 Activities in this workout:
  .row.clearfix.text-center
    .col-md-2 Title
    .col-md-3 Notes
    .col-md-1 Reps
    .col-md-1 Sets
    .col-md-1 Weight
    .col-md-2 Duration
    .col-md-2 Actions

  = f.simple_fields_for :activities, f.object.activities.order(:id) do |builder|
    = render 'activity_fields', f: builder
  %p
  .row.clearfix
    .col-md-6
      = link_to_add_fields('Add Activity', f, :activities)
    .col-md-6.text-right
      = f.button :submit, class: 'btn btn-success'
      %p
      = link_to 'Show', @workout
      |
      =link_to 'Back', workouts_path

