%h1 Listing workouts
%table.table.table-striped
  %thead
    %tr
      %th Created
      %th Title
      %th Description
      %th Actions
  %tbody
    - @workouts.each do |workout|
      %tr
        %td= format_datetime(workout.created_at,:short)
        %td= workout.title
        %td= workout.description
        %td
          = link_to 'Show', workout
          |
          \#{link_to 'Edit', edit_workout_path(workout)}
          |
          \#{link_to 'Remove', workout, method: :delete, data: { confirm: 'Are you sure?' }}
%br/
= link_to 'New Workout', new_workout_path, class: 'btn btn-success'