%h2 New workout
%hr.thickRule
= simple_form_for(@workout, html: {class: 'row.clearfix' }) do |f|
  .col-md-12
    = f.error_notification
  .row.clearfix
    .col-md-6
      = f.input :title, :input_html => {:maxlength => 255, :size => 50, :style => ""}
    .col-md-6
      = f.input :description, :input_html => {:maxlength => 255, :size => 50, :style => "width:100%;height:75px"}
  .row.clearfix.top-spacing
    %h4.col-md-12 Activities in this workout:
  .row.clearfix.text-center.top-spacing
    .col-md-2 Title
    .col-md-3 Notes
    .col-md-1 Reps
    .col-md-1 Sets
    .col-md-1 Weight
    .col-md-2 Duration
    .col-md-2 Actions

  = f.simple_fields_for :activities do |builder|
    = render 'activity_fields', f: builder
  %p
  .row.clearfix
    .col-md-6
      = link_to_add_fields('Add Activity', f, :activities)
    .col-md-6.text-right
      = f.button :submit, class: 'btn btn-success'
      %p
      = link_to 'Back', workouts_path, class: 'btn btn-danger'