.row.clearfix
  .col-md-3
    %h4 Workout Name:
    = @workout.title
  .col-md-3
    %h4 Workout Description:
    = @workout.description
.row.clearfix.top-spacing
  .col-md-12.text-left
    %h4 Activities in this Workout:
    %hr
%h4.row.clearfix.text-center
  .col-md-2 Title
  .col-md-3 Notes
  .col-md-1 Reps
  .col-md-1 Sets
  .col-md-1 Weight
  .col-md-2 Duration
- @workout.activities.each do |a|
  .row.clearfix.text-center
    .col-md-2
      = showExerciseTitle(a.exercise_id)
    .col-md-3
      = a.notes
    .col-md-1
      = a.sets
    .col-md-1
      = a.reps
    .col-md-1
      = a.weight
    .col-md-2
      = a.duration
%hr.thickRule
.row-clearfix.text-right.top-spacing
  %h4
    = link_to 'Edit', edit_workout_path(@workout)
    |
    \#{link_to 'Back', workouts_path}