.authform
  - @user = User.find_by(id: resource.id)
  %h3
    Edit Profile
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f|
    = devise_error_messages!
    %fieldset
      .form-group
        = f.input :first_name, :autofocus => true, class: 'form-control'
      .form-group
        = f.input :last_name, class: 'form-control'
      .form-group
        = f.input :email, class: 'form-control'
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
    %fieldset
      .form-group
        = f.input :picture_url, class: 'form-control'
      .form-group.form-inline
        = f.input :birth_date, :as => :date, :start_year => Date.today.year - 70, :end_year => Date.today.year, :order => [ :month, :day, :year], :required => false, :error => false, input_html: { class: 'form-control' }
      .form-group.form-inline
        = f.input :sex, label: 'Sex', collection: [ ['Male', 'Male' ], ['Female', 'Female'] ], as: :radio_buttons, label_method: :last, value_method: :first, checked: @user.sex, :item_wrapper_class => 'radio-inline', input_html: { class: 'form-control' }
      .form-group
        = f.input :street_address, class: 'form-control'
      .form-group
        = f.input :city, class: 'form-control'
      .form-group
        = f.input :state, class: 'form-control'
      .form-group
        = f.input :zip, class: 'form-control'
      .form-group
        = f.input :contact_phone, class: 'form-control'
    %fieldset
      %p Leave these fields blank if you don't want to change your password.
      .form-group
        = f.label :password
        = f.password_field :password, :autocomplete => 'off', class: 'form-control'
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control'
    %fieldset
      %p You must enter your current password to make changes.
      .form-group
        = f.label :current_password
        = f.password_field :current_password, class: 'form-control'
    = f.submit 'Update', :class => 'button left'
.authform
  %h3 Cancel Account
  %p Unhappy? We'll be sad to see you go.
  = button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button left'