.authform
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f|
    %h3
      = link_to 'Sign in', new_user_session_path, :tabindex => 5
      | Sign up
    = devise_error_messages!
    %fieldset
      .form-group
        = f.input :email, class: 'form-control'
      .form-group
        = f.input :password, class: 'form-control'
      .form-group
        = f.input :password_confirmation, class: 'form-control'
      = f.submit 'Register', :class => 'button left'  