.row
  .col-md-4
    %strong Sent
  .col-md-5
    %strong Subject
  .col-md-1
    %strong Actions
- @box.each do |conversation|
  .row.wt-row
    .col-md-4= format_datetime(conversation.updated_at, :short)
    .col-md-5= link_to conversation.subject, conversation_path(conversation.id)
    .col-md-1= link_to '', {:controller => "conversations", :action => "trash", :id => conversation.id}, :title=> "Move to Trash", :method=>'post', :class => 'fa fa-trash-o'