%h3 My Messages
.row.wt-row
  .col-md-2.wt-mailbox-links
    - if params[:box] == 'sentbox'
      - @box = @mailbox.sentbox
    - elsif params[:box] == 'trash'
      - @box = @mailbox.trash
    - else
      - @box = @mailbox.inbox
    = links = ['inbox', 'sentbox', 'trash'].map { |li| link_to li, "?box=" + li }.join(' <p></p>').html_safe
  .col-md-10
    = render 'conversations_layout', object: @box, locals: {boxname: @boxname}
.row
  .col-md-3
    = button_to messages_path, method: :get, class: 'btn btn-success pull-left' do
      %span.fa.fa-envelope-o
        New Message
  .col-md-9
    - if params[:box] == 'trash'
      = button_to empty_trash_conversations_path, class: 'btn btn-danger', data: { confirm: "Are you sure?" } do
        %span.fa.fa-trash-o
          Empty Trash