.row-clearfix
  %h3
    %strong Subject:
    = @conversation.subject
.row-clearfix
  - @receipts.reverse.each do |receipt|
    .row.wt-row
      .col-md-6
        .col-md-6
          = image_tag get_sender_picture_url(receipt.message.sender.id), alt: "Profile Pic", class: 'wt-profile-icon'
        .col-md-6
          %strong From:
          = receipt.message.sender.name
          %br
          %strong Sent:
          = format_datetime(receipt.message.updated_at, :short)
      .col-md-6
        %strong Message:
        %br
        = receipt.message.body
.row-clearfix
  %h4.text-bold Reply:
  =simple_form_for :conversation, :url => url_for(:action => 'reply', :controller => 'conversations' ) do |f|
    = f.input :body, :as => 'text', label: false, :input_html => {:rows => 10, :cols => '50%', :class => 'col-md-9' }
    .text-center= f.button :submit, "Reply", class: 'btn btn-primary'