.authform
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|
    %h3
      Sign in
      |
      - if devise_mapping.registerable?
        = link_to 'Sign up', new_registration_path(resource_name), :tabindex => 5
    = devise_error_messages!
    .form-group
      = f.label :email
      = f.email_field :email, :autofocus => true, class: 'form-control', :tabindex => 1
    .form-group
      - if devise_mapping.recoverable?
        = link_to "Forgot password?", new_password_path(resource_name), class: 'right', :tabindex => 4
      = f.label :password
      = f.password_field :password, class: 'form-control', :tabindex => 2
    - if devise_mapping.rememberable?
      .form-group
        = f.check_box :remember_me
        &nbsp;&nbsp;
        = f.label :remember_me
    = f.submit 'Sign In', :class => 'button left', :tabindex => 3