/* Colors */
$lightGrey: #eee;

/* base selectors */

.wt-border
{
    border:1px solid black;
}

.wt-mailbox-links
{
    font-size: 20px;
    margin-top: 20px;
}

/* Header */
.wt {
    font-family: Georgia, "Times New Roman", Times, serif !important;
}

.wt-logo {
    margin-top: -20px;
    float:left;
}

.wt-nav-button {
    border: 1px solid #000000;
    border-radius:10px;
    margin: 15px;
}

/* Layout */
.wt-container {
    padding: 0;
    overflow:visible;
    width: 1100px;
    height: 700px;
    margin: 0 auto;
}

.wt-header {
    padding: 0;
    overflow:hidden;
    width: 100%;
    height: 75px;
}

.wt-footer {
    padding: 0;
    overflow:hidden;
    width: 100%;
    height: 30px;
}

.wt-container-vbox {
    padding: 0;
    overflow:visible;
    width: 100%;
    height: 593px;
}

.wt-sidebar-hbox {
    padding: 0;
    overflow:hidden;
    width: 208px;
    height: 100%;
    float: left;

}

.wt-content-hbox {
    padding: 25px;
    overflow:scroll;
    width: 830px;
    height: 97%;
    float: right;
    background-color: $lightGrey;
    border-radius: 10px;
}

.wt-profile-icon {
    width: 150px;
    height: 150px;
}

.wt-row {
    outline: 1px solid lightGrey;
    margin-bottom: 10px;
    padding: 2px;
}

.wt-row + .wt-row {
    border-top: 0px;
}

.wt-text-area {
    width: 100%;
    height: auto;
}

.text-bold {
    font-weight: bold;
}

/* Buttons */

$sidebarWidth: 177px;

.wt-ask-button {
    width:  $sidebarWidth;
    height: 46px;
}

/* Sidebar */
.wt-sidebar-panel {
    width:  $sidebarWidth;
    height: 517spx;
    background-color: $lightGrey;
    border-radius: 10px;
}

.add-fields:hover {
    background-color: transparent;
    text-decoration: none;
}


