= simple_form_for(@exercise) do |f|
  = f.error_notification
  %fieldset
    .form-inputs
      = f.input :title
      = f.input :description
    .form-actions
      = f.button :submit, class: 'btn btn-success top-spacing'
