%h1 Listing exercises
%table.table.table-striped
  %thead
    %tr
      %th Created
      %th Title
      %th Description
      %th Actions
  %tbody
    - @exercises.each do |exercise|
      %tr
        %td= format_datetime(exercise.created_at,:short)
        %td= exercise.title
        %td= exercise.description
        %td
          = link_to 'Show', exercise
          |
          \#{link_to 'Edit', edit_exercise_path(exercise)}
          |
          \#{link_to 'Remove', exercise, method: :delete, data: { confirm: 'Are you sure?' }}
%br/
= link_to 'New Exercise', new_exercise_path, class: 'btn btn-success'