.row-clearfix
  .col-md-6
    - if user_signed_in?
      %strong= "Current Role: " + current_user.role
  .col-md-6
    %ul.list-inline.text-right
      %li= link_to 'About', not_implemented_index_path
      %li= link_to 'Feedback', not_implemented_index_path
      %li= link_to 'Legal', not_implemented_index_path
      %li= link_to 'Help', not_implemented_index_path