Reply:
\#{form_for [:reply, @conversation], url: reply_conversation_path(conversation) do |f|}
  = f.submit "Send Message", class: 'btn btn-primary'
  = submit_tag 'Clear Reply Box', type: :reset, class: 'btn btn-danger'