- if user_signed_in?
  %li= button_to 'Dashboard', dashboard_index_path, method: :get, class: 'btn btn-default wt-nav-button'
  %li= button_to 'Workouts', workouts_path, method: :get, class: 'btn btn-default wt-nav-button'
  %li= button_to 'Messages', conversations_path, method: :get, class: 'btn btn-default wt-nav-button'
  %li= button_to 'Edit Profile', edit_user_registration_path, method: :get, class: 'btn btn-default wt-nav-button'
  %li= button_to 'Sign out', destroy_user_session_path, :method=>'delete', class: 'btn btn-default wt-nav-button'
  %li= button_to current_user.email, '#', method: :get, class: 'btn btn-default wt-nav-button'
  %li
    - if show_unread_count > 0
      = button_to messages_path, method: :get, class: 'btn btn-default wt-nav-button' do
        %i.fa.fa-envelope-o
          %strong= show_unread_count
- else
  %li= button_to 'Sign in', new_user_session_path, method: :get, class: 'btn btn-default wt-nav-button'