%nav.wt.navbar.navbar-default{:style => "margin:0 auto; height:70px"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag("placeholder_logo.gif", :border => 0), root_path, class: 'navbar-brand wt-logo'
    .collapse.navbar-collapse
      %ul.wt.nav.navbar-nav{:style => "margin-left:15px"}= render 'layouts/navigation_links'
