- if user_signed_in?
  %li= link_to 'Exercises', exercises_path
  %li= link_to 'My Progress', not_implemented_index_path
- else
  %li= link_to 'Sign in', new_user_session_path
- if user_signed_in?
  - if current_user.admin?
    %li= link_to 'Users', users_path