!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Workout Tracker"
    %meta{:content => content_for?(:description) ? yield(:description) : "Workout Tracker", :name => "description"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = yield(:head)
    = csrf_meta_tags
  %body{:class => "#{controller_name} #{action_name}"}
    .wt.wt-container
      .wt.wt-header
        = render 'layouts/navigation'
      .wt.wt-container-vbox
        .wt.wt-sidebar-hbox
          = render 'layouts/sidebar'
        .wt.wt-content-hbox{:role => "main"}
          = render 'layouts/messages'
          = yield
      .wt.wt-footer= render 'layouts/footer'